name: Check Analytics Script for Changes (Weekly)

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  check-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get latest script content
        run: |
          curl -s "https://cloud.umami.is/script.js" | \
            python3 -c "import sys, json; print(json.dumps(sys.stdin.read().strip())[1:-1], end='')" > latest_script.js

      - name: Compare script content and commit on change
        run: |
          if cmp -s latest_script.js workflows/weekly-analytics-script-check/script.js; then
            echo "No changes detected."
          else
            echo "Change detected. Updating script in repository. Please update the inline script in Obsidian and Bear Blog."
            mv latest_script.js workflows/weekly-analytics-script-check/script.js

            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            
            git add workflows/monthly-analytics-script-check/script.js
            git commit -m "build: update umami analytics script"
            git push
            
            echo "Failing the workflow to trigger a notification."
            exit 1
          fi
